* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.upload-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  cursor: pointer;
  border: dashed 1px #ccc;
  background-color: #fafafa;
  color: #bdbdbd;
}

@media (max-width: 900px) {
  .left-bar {
    display: none;
  }
  .right-bar {
    display: none;
  }
  .sidebar {
    display: none;
  }

}